.div {
  background-color: #1d1d1d;
}

.div--row-content {
  min-height: 550px;
  margin-top: 100px;
}

.playlist {
  width: 100%;
  margin: 0 10px;
}

.playlist--list-item {
  color: #ffffff;
  list-style-type: none;
  height: 50px;
  border-bottom: 1px solid #2D2D2D;
  margin-bottom: 20px;
}
